
@import url('style.css');


* {
    padding: 0;
    margin: 0;
    font-family: Skranji-regular;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: end;
    margin-right: 10%;
}
nav input{
    width: 20%;
    padding: 12px 20px;
    margin-right: 2%;
    border-radius: 25px;
    color: var(--primary-color);
    background-color: var(--background-color);
}
nav button img{
    height: 48px;
    width: 48px;
    padding: 2px;
}

.banner {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.banner h1 {
    font-size: 64px;
    color: var(--secundary-color)
}