/*
variables globales y fuentes
*/
:root {
    --primary-color: #252525;
    --secundary-color: #FFFFFF;
}

@font-face {
    font-family: "Skranji-regular";
    src: url('../../assets/fonts/Skranji/Skranji-Regular.ttf');
}

